OC Backend.json
{
  "name": "OpenClue - Master Orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mission-control-events",
        "options": {}
      },
      "id": "agent-events",
      "name": "Agent Event Inbound",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        100
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mission-control-actions",
        "options": {}
      },
      "id": "frontend-actions",
      "name": "Frontend Action Inbound",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        400
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "health-check-cron",
      "name": "Health Sentry (5m)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        100,
        700
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.action || $json.event_type }}",
        "rules": {
          "rules": [
            {
              "value2": "message:sent",
              "output": 0
            },
            {
              "value2": "message:received",
              "output": 0
            },
            {
              "operation": "startsWith",
              "value2": "session_",
              "output": 1
            },
            {
              "value2": "task:create",
              "output": 2
            },
            {
              "value2": "task:assign",
              "output": 2
            },
            {
              "value2": "broadcast",
              "output": 3
            }
          ]
        }
      },
      "id": "orchestrator-switch",
      "name": "Master Action Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        350,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://base.kutraa.com/rest/v1/rpc/append_conversation_message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc3NjI0NDU2MCwiZXhwIjo0OTMxOTE4MTYwLCJyb2xlIjoiYW5vbiJ9.RJRl9UsbEImEOQYPBy6nZds-RYlaTclQQj2pJ8uJb6U"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc3NjI0NDU2MCwiZXhwIjo0OTMxOTE4MTYwLCJyb2xlIjoiYW5vbiJ9.RJRl9UsbEImEOQYPBy6nZds-RYlaTclQQj2pJ8uJb6U"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_session_key\": \"{{ $json.metadata.sessionKey }}\",\n  \"p_message\": {\n    \"role\": \"{{ $json.event_type === 'message:sent' ? 'agent' : 'user' }}\",\n    \"content\": \"{{ $json.message }}\",\n    \"timestamp\": \"{{ $now.toISOString() }}\"\n  },\n  \"p_agent_id\": \"{{ $json.metadata.agentId }}\",\n  \"p_client_name\": \"{{ $json.metadata.senderName || 'Client' }}\"\n}",
        "options": {
          "responseFormat": "json"
        }
      },
      "id": "action-conversation",
      "name": "Sync Conversations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        650,
        100
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://base.kutraa.com/rest/v1/agents?name=eq.{{ $json.metadata.resolvedAgent || $json.metadata.agentId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc3NjI0NDU2MCwiZXhwIjo0OTMxOTE4MTYwLCJyb2xlIjoiYW5vbiJ9.RJRl9UsbEImEOQYPBy6nZds-RYlaTclQQj2pJ8uJb6U"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc3NjI0NDU2MCwiZXhwIjo0OTMxOTE4MTYwLCJyb2xlIjoiYW5vbiJ9.RJRl9UsbEImEOQYPBy6nZds-RYlaTclQQj2pJ8uJb6U"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"{{ $json.event_type === 'session_start' ? 'online' : ($json.event_type === 'session_end' ? 'offline' : 'busy') }}\",\n  \"last_heartbeat\": \"{{ $now.toISOString() }}\"\n}",
        "options": {
          "responseFormat": "json"
        }
      },
      "id": "action-status",
      "name": "Sync Master Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        650,
        250
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://base.kutraa.com/rest/v1/tasks?id=eq.{{ $json.metadata.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc3NjI0NDU2MCwiZXhwIjo0OTMxOTE4MTYwLCJyb2xlIjoiYW5vbiJ9.RJRl9UsbEImEOQYPBy6nZds-RYlaTclQQj2pJ8uJb6U"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc3NjI0NDU2MCwiZXhwIjo0OTMxOTE4MTYwLCJyb2xlIjoiYW5vbiJ9.RJRl9UsbEImEOQYPBy6nZds-RYlaTclQQj2pJ8uJb6U"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"{{ $json.status || 'todo' }}\",\n  \"priority\": \"{{ $json.priority || 'medium' }}\",\n  \"assignee_ids\": {{ JSON.stringify($json.assignee_ids || []) }}\n}",
        "options": {
          "responseFormat": "json"
        }
      },
      "id": "action-tasks",
      "name": "Supabase Task Governor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        650,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://base.kutraa.com/rest/v1/activity_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc3NjI0NDU2MCwiZXhwIjo0OTMxOTE4MTYwLCJyb2xlIjoiYW5vbiJ9.RJRl9UsbEImEOQYPBy6nZds-RYlaTclQQj2pJ8uJb6U"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc3NjI0NDU2MCwiZXhwIjo0OTMxOTE4MTYwLCJyb2xlIjoiYW5vbiJ9.RJRl9UsbEImEOQYPBy6nZds-RYlaTclQQj2pJ8uJb6U"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent_id\": \"{{ $json.metadata.agentId || $json.agent_id }}\",\n  \"event_type\": \"{{ $json.action || $json.event_type }}\",\n  \"description\": \"{{ $json.message || $json.description || 'System Event' }}\",\n  \"metadata\": {{ JSON.stringify($json.metadata || {}) }}\n}",
        "options": {
          "responseFormat": "json"
        }
      },
      "id": "action-log",
      "name": "Timeline Synchronizer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        950,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://tofyq3lga15o3184lxde506q:18789/hooks/n8n-{{ $json.metadata.agent_id || 'main' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 46cf3441242627eabf8eb5c32d2e0d7f"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{ $json.message }}\",\n  \"sessionKey\": \"{{ $json.metadata.sessionKey }}\",\n  \"to\": \"{{ $json.metadata.to }}\",\n  \"channel\": \"{{ $json.metadata.channel || 'telegram' }}\"\n}",
        "options": {
          "responseFormat": "string"
        }
      },
      "id": "agent-gateway",
      "name": "Signal Transmitter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        950,
        450
      ]
    }
  ],
  "connections": {
    "Agent Event Inbound": {
      "main": [
        [
          {
            "node": "Master Action Router",
            "type": "main",
            "index": 0
          },
          {
            "node": "Timeline Synchronizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Frontend Action Inbound": {
      "main": [
        [
          {
            "node": "Master Action Router",
            "type": "main",
            "index": 0
          },
          {
            "node": "Timeline Synchronizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master Action Router": {
      "main": [
        [
          {
            "node": "Sync Conversations",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sync Master Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase Task Governor",
            "type": "main",
            "index": 0
          },
          {
            "node": "Signal Transmitter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Signal Transmitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}