OC Master Orchestrator.json
{
  "name": "OpenClue - Master Orchestrator v4.9 (Optical)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "OpenCluePulse",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "agent-events",
      "name": "Agent Event Inbound",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [ 0, 100 ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "OpenClueActions",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "frontend-actions",
      "name": "Frontend Action Inbound",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [ 0, 300 ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ ($json.action || $json.event_type || 'unclassified').toString() }}",
        "rules": {
          "rules": [
            { "value2": "message:sent", "output": 0 },
            { "value2": "message:received", "output": 0 },
            { "value2": "session_end", "output": 3 },
            { "operation": "startsWith", "value2": "session_", "output": 1 },
            { "value2": "broadcast", "output": 2 },
            { "operation": "startsWith", "value2": "task:", "output": 2 }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "orchestrator-switch",
      "name": "Absolute Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [ 250, 200 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://base.kutraa.com/rest/v1/rpc/append_conversation_message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc3NjI0NDU2MCwiZXhwIjo0OTMxOTE4MTYwLCJyb2xlIjoiYW5vbiJ9.RJRl9UsbEImEOQYPBy6nZds-RYlaTclQQj2pJ8uJb6U" },
            { "name": "Authorization", "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc3NjI0NDU2MCwiZXhwIjo0OTMxOTE4MTYwLCJyb2xlIjoiYW5vbiJ9.RJRl9UsbEImEOQYPBy6nZds-RYlaTclQQj2pJ8uJb6U" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_session_key\": \"{{ $json.metadata.sessionKey || 'UNTRACKED' }}\",\n  \"p_message\": {\n    \"role\": \"{{ ($json.event_type || $json.action) === 'message:sent' ? 'agent' : 'user' }}\",\n    \"content\": \"{{ $json.message || 'Heartbeat signal.' }}\",\n    \"timestamp\": \"{{ $now.toISOString() }}\",\n    \"metadata\": {\n      \"priority\": \"{{ $json.priority || 'medium' }}\",\n      \"orchestrator_v\": \"4.9\"\n    }\n  },\n  \"p_agent_id\": \"{{ $json.metadata.agentId || 'main' }}\",\n  \"p_client_name\": \"{{ $json.metadata.senderName || 'Mission Client' }}\"\n}",
        "options": {}
      },
      "id": "action-conversation",
      "name": "Neural Persistence: Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 500, 50 ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://base.kutraa.com/rest/v1/agents?name=eq.{{ $json.metadata.agentId || 'main' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc3NjI0NDU2MCwiZXhwIjo0OTMxOTE4MTYwLCJyb2xlIjoiYW5vbiJ9.RJRl9UsbEImEOQYPBy6nZds-RYlaTclQQj2pJ8uJb6U" },
            { "name": "Authorization", "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc3NjI0NDU2MCwiZXhwIjo0OTMxOTE4MTYwLCJyb2xlIjoiYW5vbiJ9.RJRl9UsbEImEOQYPBy6nZds-RYlaTclQQj2pJ8uJb6U" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"{{ ($json.event_type || $json.action) === 'session_start' ? 'online' : 'offline' }}\",\n  \"last_heartbeat\": \"{{ $now.toISOString() }}\",\n  \"metadata\": {\n    \"current_task\": \"{{ $json.message || 'Mission sequence initiated.' }}\"\n  }\n}",
        "options": {}
      },
      "id": "action-status",
      "name": "Neural Persistence: Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 500, 200 ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://tofyq3lga15o3184lxde506q:18789/hooks/n8n-{{ $json.metadata.agentId || 'main' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer 46cf3441242627eabf8eb5c32d2e0d7f" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{ $json.message || 'Broadcast pulse.' }}\",\n  \"sessionKey\": \"{{ $json.metadata.sessionKey }}\",\n  \"to\": \"{{ $json.metadata.to }}\",\n  \"channel\": \"{{ $json.metadata.channel || 'telegram' }}\"\n}",
        "options": {}
      },
      "id": "agent-gateway",
      "name": "Neural Signal Gate (Telegram)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 600, 400 ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconst meta = item.metadata || {};\nconst text = item.message || 'Autonomous resonance event.';\n\nconst payload = {\n  event_type: item.action || item.event_type || 'unclassified',\n  description: text,\n  message: text,\n  metadata: {\n    ...meta,\n    source: 'OpenClue Orchestrator v4.9 (Optical)',\n    priority: item.priority || 'medium'\n  }\n};\n\nif (meta.agentId) payload.agent_id = meta.agentId;\nif (meta.project_id && meta.project_id.length === 36) {\n  payload.project_id = meta.project_id;\n}\n\nreturn { json: payload };"
      },
      "id": "payload-shield",
      "name": "Neural Preparation Block",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 800, 200 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://base.kutraa.com/rest/v1/activity_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc3NjI0NDU2MCwiZXhwIjo0OTMxOTE4MTYwLCJyb2xlIjoiYW5vbiJ9.RJRl9UsbEImEOQYPBy6nZds-RYlaTclQQj2pJ8uJb6U" },
            { "name": "Authorization", "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc3NjI0NDU2MCwiZXhwIjo0OTMxOTE4MTYwLCJyb2xlIjoiYW5vbiJ9.RJRl9UsbEImEOQYPBy6nZds-RYlaTclQQj2pJ8uJb6U" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "action-log",
      "name": "Neural Persistence: Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 1000, 200 ]
    },
    {
      "parameters": {
        "options": {
          "responseBody": "={\n  \"mission\": \"acknowledged\",\n  \"signal_id\": \"{{ $execution.id }}\",\n  \"resonance_v\": \"4.9\",\n  \"timestamp\": \"{{ $now.toISOString() }}\"\n}"
        }
      },
      "id": "final-response",
      "name": "Mission Response Gate",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [ 1200, 200 ]
    }
  ],
  "connections": {
    "Agent Event Inbound": { "main": [ [ { "node": "Absolute Router", "type": "main", "index": 0 } ] ] },
    "Frontend Action Inbound": { "main": [ [ { "node": "Absolute Router", "type": "main", "index": 0 } ] ] },
    "Absolute Router": { 
      "main": [ 
        [ { "node": "Neural Persistence: Chat", "type": "main", "index": 0 }, { "node": "Neural Preparation Block", "type": "main", "index": 0 } ],
        [ { "node": "Neural Persistence: Status", "type": "main", "index": 0 }, { "node": "Neural Preparation Block", "type": "main", "index": 0 } ],
        [ { "node": "Neural Signal Gate (Telegram)", "type": "main", "index": 0 }, { "node": "Neural Preparation Block", "type": "main", "index": 0 } ],
        [ { "node": "Neural Preparation Block", "type": "main", "index": 0 } ]
      ] 
    },
    "Neural Persistence: Chat": { "main": [ [ ] ] },
    "Neural Persistence: Status": { "main": [ [ ] ] },
    "Neural Signal Gate (Telegram)": { "main": [ [ ] ] },
    "Neural Preparation Block": { "main": [ [ { "node": "Neural Persistence: Log", "type": "main", "index": 0 } ] ] },
    "Neural Persistence: Log": { "main": [ [ { "node": "Mission Response Gate", "type": "main", "index": 0 } ] ] }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  }
}
