OC Master Orchestrator.json
{
  "name": "OpenClue - Master Orchestrator v5.1.17 (Unified-Resonance)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "OpenCluePulse",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "agent-events",
      "name": "Agent Event Inbound",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [ 0, 100 ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "OpenClueActions",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "frontend-actions",
      "name": "Frontend Action Inbound",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [ 0, 300 ]
    },
    {
      "parameters": {
        "jsCode": "// Normalize webhook payload\nconst raw = $input.item.json;\nconst data = raw.body && typeof raw.body === 'object' && !Array.isArray(raw.body) ? raw.body : raw;\nreturn { json: data };"
      },
      "id": "body-unwrap",
      "name": "Body Unwrap",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 200, 200 ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ ($json.action || $json.event_type || 'unclassified').toString() }}",
        "rules": {
          "rules": [
            { "value2": "message:sent", "output": 0 },
            { "value2": "message:received", "output": 0 },
            { "value2": "session_end", "output": 3 },
            { "operation": "startsWith", "value2": "session_", "output": 1 },
            { "value2": "broadcast", "output": 2 },
            { "operation": "startsWith", "value2": "task:", "output": 2 }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "orchestrator-switch",
      "name": "Absolute Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [ 400, 200 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://base.kutraa.com/rest/v1/rpc/append_conversation_message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc3NjI0NDU2MCwiZXhwIjo0OTMxOTE4MTYwLCJyb2xlIjoiYW5vbiJ9.RJRl9UsbEImEOQYPBy6nZds-RYlaTclQQj2pJ8uJb6U" },
            { "name": "Authorization", "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc3NjI0NDU2MCwiZXhwIjo0OTMxOTE4MTYwLCJyb2xlIjoiYW5vbiJ9.RJRl9UsbEImEOQYPBy6nZds-RYlaTclQQj2pJ8uJb6U" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  p_session_key: $json.metadata.sessionKey || 'UNTRACKED',\n  p_message: { role: 'agent', content: $json.message || 'Mission Pulse', timestamp: $now.toISOString() },\n  p_agent_id: $json.metadata.agentId || 'main',\n  p_client_name: 'Mission Client'\n}) }}",
        "options": {}
      },
      "id": "action-chat",
      "name": "Sync: Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 650, 50 ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Broadcast Resolver - Topics pinned from client_mappings\nconst item = $input.item.json;\nconst msg = item.message || 'Signal pulse.';\nconst MAPS = [\n  { name: 'promo', to: '-1003728720677:topic:1239', key: 'agent:promo:telegram:group:-1003728720677:topic:1239' },\n  { name: 'main', to: '-1003728720677:topic:1', key: 'agent:main:telegram:group:-1003728720677:topic:1' },\n  { name: 'digit', to: '-1003728720677:topic:3', key: 'agent:digit:telegram:group:-1003728720677:topic:3' },\n  { name: 'string', to: '-1003728720677:topic:2', key: 'agent:string:telegram:group:-1003728720677:topic:2' }\n];\nreturn MAPS.map(m => ({ json: { ...m, message: msg, original: item } }));"
      },
      "id": "broadcast-resolver",
      "name": "Broadcast Resolver",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 600, 250 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://tofyq3lga15o3184lxde506q:18789/hooks/n8n-{{ $json.name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [ { "name": "Authorization", "value": "Bearer 46cf3441242627eabf8eb5c32d2e0d7f" } ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"message\": \"{{ $json.message }}\", \"to\": \"{{ $json.to }}\", \"sessionKey\": \"{{ $json.key }}\" }",
        "options": {}
      },
      "id": "gateway-pulse",
      "name": "Gateway Pulse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 800, 250 ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Unified Aggregator - Consolidates all branches before final logging\nconst all = $input.all();\nconst first = all[0].json;\nconst orig = first.original || first;\nreturn {\n  json: {\n    event_type: 'mission_pulse',\n    description: orig.message || 'Unified signal verified.',\n    metadata: { version: '5.1.17', branch_count: all.length }\n  }\n};"
      },
      "id": "unified-aggregator",
      "name": "Unified Aggregator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 1000, 200 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://base.kutraa.com/rest/v1/activity_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc3NjI0NDU2MCwiZXhwIjo0OTMxOTE4MTYwLCJyb2xlIjoiYW5vbiJ9.RJRl9UsbEImEOQYPBy6nZds-RYlaTclQQj2pJ8uJb6U" },
            { "name": "Authorization", "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc3NjI0NDU2MCwiZXhwIjo0OTMxOTE4MTYwLCJyb2xlIjoiYW5vbiJ9.RJRl9UsbEImEOQYPBy6nZds-RYlaTclQQj2pJ8uJb6U" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "action-log",
      "name": "Final Log Node",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 1200, 200 ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "options": {
          "responseBody": "={{ JSON.stringify({ mission: 'acknowledged', resonance: 'v5.1.17', timestamp: $now.toISOString() }) }}"
        }
      },
      "id": "response-gate",
      "name": "Final Response Gate",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [ 1400, 200 ]
    }
  ],
  "connections": {
    "Agent Event Inbound": { "main": [ [ { "node": "Body Unwrap", "type": "main", "index": 0 } ] ] },
    "Frontend Action Inbound": { "main": [ [ { "node": "Body Unwrap", "type": "main", "index": 0 } ] ] },
    "Body Unwrap": { "main": [ [ { "node": "Absolute Router", "type": "main", "index": 0 } ] ] },
    "Absolute Router": {
      "main": [
        [ { "node": "Sync: Chat", "type": "main", "index": 0 } ],
        [ { "node": "Unified Aggregator", "type": "main", "index": 0 } ],
        [ { "node": "Broadcast Resolver", "type": "main", "index": 0 } ],
        [ { "node": "Unified Aggregator", "type": "main", "index": 0 } ]
      ]
    },
    "Sync: Chat": { "main": [ [ { "node": "Unified Aggregator", "type": "main", "index": 0 } ] ] },
    "Broadcast Resolver": { "main": [ [ { "node": "Gateway Pulse", "type": "main", "index": 0 } ] ] },
    "Gateway Pulse": { "main": [ [ { "node": "Unified Aggregator", "type": "main", "index": 0 } ] ] },
    "Unified Aggregator": { "main": [ [ { "node": "Final Log Node", "type": "main", "index": 0 } ] ] },
    "Final Log Node": { "main": [ [ { "node": "Final Response Gate", "type": "main", "index": 0 } ] ] }
  }
}
